/*body{
	overflow-y: scroll;
	overflow-x: hidden;
}*/

#upload, #fileToUpload {
	margin-top: 10px;
}

/**
 * Стили галереи
 */
#gallery {
	display: block;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05)
	transition: all 0.5s ease;
}

#gallery > .item {
	float:left;
	position:relative;
	overflow:hidden;
	transition: all 0.25s ease-out;
}

#gallery > .item > img{
	outline:none;
	transition: margin 0.1s linear;
}


